{% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-dismissable alert-success">
        {{ message|rawSecure }}
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    </div>
{% endfor %}
{% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-dismissable alert-info">
        {{ message|rawSecure }}
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    </div>
{% endfor %}
{% for message in app.session.flashbag.get('warning') %}
    <div class="alert alert-dismissable alert-warning">
        {{ message|rawSecure }}
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    </div>
{% endfor %}
{% for message in app.session.flashbag.get('danger') %}
    <div class="alert alert-dismissable alert-danger">
        {{ message|rawSecure }}
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    </div>
{% endfor %}
